@font-face {
	font-family: "GO";
	src: url("../fonts/GermaniaOne-Regular.ttf");
}

@font-face {
	font-family: "BN";
	src: url("../fonts/BebasNeue.otf");
}

@font-face {
	font-family: "BN Light";
	src: url("../fonts/BebasNeue_Light.otf");
}

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
}

/* Header section */


.bg-init {
	height: 100vh;
	width: 100%;
	box-shadow: 0px 20px 100px #888888;
}

header {
	width: 100%;
	box-shadow: 0px 3px 100px #000;
	z-index: 1;
}

header li {
	list-style: none;
	padding: 0 0.5em;
}

a.navbar-brand {
	font-family: "GO";
	font-size: 2em;
	padding: 0 2em 0 0.5em;
	margin-left: 5%;
	border-right: dotted;
}

.form-box {
	margin-right: 2%;
}

.form-box-register {
	margin-right: 7%;
}

.login-register {
	padding: 0;
	margin-bottom: 0;
}

.login-register input {
	font-family: "GO";
	font-size: 15px;
}


header button {
	font-family: "GO";
	border-width: 2.5px !important;
	border-radius: 10px !important;
}

/*cover image section*/

.intro {
	background-image: url("../img/bg-image-2.jpg");
	padding: 15px 0;
	height: 100vh;
	background-size: cover;
	background-position: center;
	color: #b44a30;
	font-size: 10px;
}

.intro div {
	height: 36rem;
	width: 60rem;
	margin: auto;
	border-color: black;
}


.intro img {
	height: auto;
	max-width: 100%;
	border-radius: 50px !important;
	box-shadow: 0px 20px 100px #888888;
	/*filter: brightness(70%);*/
}

.intro h1 {
	color: #888888;
	font-family: "Indie Flower";
	font-size: 5em;
	font-weight: 600;
	margin: 0 auto;
	padding-left: 7vw;
	position: absolute;
	top: 115px;
	transform: rotate(7.5deg);
	width: 95%;
}

.intro h1 span{
	
	
}

/*Register Form section*/
.bg-register {
	background-image: url("../img/bg-image.jpg");
}

.register-section {
	padding: 40px 0;
	height:100%;
	width: 100%;
}

.hr-register {
	border-width: 5px;
	width: 100%;
	border-color:#000;
	position: absolute;
	bottom: 50vh;
}

.register-box {
	margin-left: 50%;
	transform: translateX(-50%);
	height:100%;
	width: 43%;
	background-color: #fff;
	border-radius: 20px;
	border-style:solid;
	border-color: #343a40;
	border-width: 5px;
	box-shadow: 0px 20px 100px #888888;
	font-family: GO;
	color: #343a40;
}

.register-box h1 {
	padding-top:5%;
	text-align: center;
}

.register-box p {
	padding-top: 3%;
	text-align: center;
	font-size: 18px;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	margin: 30px 10% 10px 10%;
	padding: 10px 10px;
	background-color: #343a40;
	color:white;border-radius: 20px;
	box-shadow: 0px 25px 100px #888888;
}

.register-box span {
	font-style: italic; 
	font-weight: 500;
}

.register-box form {
	margin: 40px 20px;
	font-size: 20px;
}

.register-box form button {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 25px;
}

/*Info section*/

.info-container {
	font-family: "GO";
}

.info-desc {
	padding-top: 9rem;
}

.info-desc h2{
	padding: 0 0.5em; 
	margin-top: -30px;
	width: 40%;
	position: relative;
	background-color: #000;
	color: #fff;
	border-style: solid;
	border-width: 3px;
	border-color: #000;
	border-radius: 10px;
	box-shadow: 0px 20px 100px #888888;
	font-size: 50px;
	font-weight: 700;
}

.hr-info {
	border-width: 3px;
	height: 1px;
	left: 0;
	right: 0;
	margin: 0 10%;
	border-color: #000;
	position: absolute;
	z-index: -1;
	box-shadow: 0px 20px 100px #888888;
}

.info {
	margin: 18px 0 0 0;
	padding: 0 0 60px 0;
	height: 230px;
}

.util-ipn {
	height: 180px;
	padding: 0 5em;
	margin: 20px 0;
	font-family: "GO";
	font-size: 18px;
	font-style: italic;
}

.util-ipn img {
	height: auto;
	width: 9.5rem;
	max-width: 100%;
	padding: 0 10px;
}

/* Footer */

.footer-info {
	height: 220px;
	background-color: #b44a30;
	border-style: none none solid none;
	border-width: 3px;
	border-color: #000;
}

.footer-info .container {
	height: 220px;
}

.links-container {
	font-family: "GO";
	color: #000;
	padding: 20px 0 0 0;
}

#items-1st {
	border-style: none none none solid;
	border-width: 2px;
	border-radius: 10px;
	margin-left: 0;
}

#items-last {
	border-style: none solid none none;
	border-width: 2px;
	border-radius: 10px;
	margin-right: 0;
}

.links-section {
	padding: 0 2vw;
	margin: 0 12px 15px 12px;
}

.links-section p{
	font-size: 20px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.links-section a{
	color: #000;
	text-decoration: none;
}

.links-section ul{
	list-style: none;
	padding-left: 0;
}

.footer-hr {
	width: 95%;
	border-width: 3px;
	border-color: #000;
	margin-top: 0px;
}

.sn-container {
	margin-top: 50px;
	padding: 5px 20px;
	border-style: none solid;
	border-width: 2px;
	border-radius: 10px;
	border-color: #000;
}

.sn-info {
	color: #000;
	padding-bottom: 5px;
	font-family: "GO";
	font-size: 40px;
}

footer button {
	height: 50px;
	width: 50px;
	margin: auto 5px;
	border-radius: 100%;
	background-color: transparent;
	border-color: black;
}

footer button:hover {
	color: #fff;
	background-color: #000;
}

.icon {
	font-size: 30px;
}

.footer-bottom {
	height: 50px;
	background-color: #953d28;
}

.footer-bottom p{
	font-family: "GO";
	color: #000;
	font-size: 25px;
	margin: 0;
	padding-top: 8px;
}

.footer-div {
	margin: 0;
}

/* @MEDIA */

@media (max-width: 1095px) {
	.util-ipn {
		padding: 2em 3em;
	}

	.info-desc h2 {
		font-size: 40px;
	}

}

@media (max-width: 1350px) {

	.links-container {
		font-family: "GO";
		color: #000;
		padding: 38px 0 0 0;
	}

	.links-section p{
		font-size: 15px;
	}
	
	.links-section a{
		font-size: 12px;
	}
}